.h1 {
color:#993f2b;
font-size: 66px;
text-align: center;
}
.text {
color:#000;
text-decoration: underline;
text-align: center;
}
.link {
color:#000;
font-size: 34px;
}
.link:hover {
	color:#993f2b;
	text-decoration: none;
}
.header {
	width:960px;
	background: #f2937e;
	margin:auto;
	padding:auto;
}